<section>
  <div class="left">
    <h2>What's your goal?</h2>
    <p>
      Become who you want to be with us. Choose your own career path and earn a
      diploma online with hands-on projects and weekly one-on-one mentorship
      sessions with a dedicated professional in your field. Gain experience on
      your CV with our academy apprenticeship programs and earn a salary while
      you learn.
    </p>
    <div class="boxes">
      <div class="box">
        <div class="img-container">
          <img src="assets/career.png" alt="career" />
        </div>
        <div>
          <h3>You want to build a career?</h3>
          <span>
            Career paths are our most complete offering with everything you need
            to land the job.
          </span>
        </div>
      </div>
      <div class="box">
        <div class="img-container">
          <img src="assets/skills.png" alt="skills" />
        </div>
        <div>
          <h3>You want to pick up some new skills?</h3>
          <span>
            Skill paths focus on what's needed to pick up a specific, applicable
            skill.
          </span>
        </div>
      </div>
      <div class="box">
        <div class="img-container">
          <img src="assets/code.png" alt="code" />
        </div>
        <div>
          <h3>You want to master a language?</h3>
          <span>
            If you already know what you need, we have the right program for
            you.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="assets/academy.gif" alt="academy" />
  </div>
</section>
