<button mat-icon-button aria-label="Example icon button">
  <mat-icon
    svgIcon="google"
    aria-hidden="false"
    aria-label="Example google SVG icon"
  ></mat-icon>
</button>
<button mat-icon-button aria-label="Example icon button">
  <mat-icon
    svgIcon="facebook"
    aria-hidden="false"
    aria-label="Example facebook SVG icon"
  ></mat-icon>
</button>
<button mat-icon-button aria-label="Example icon button">
  <mat-icon
    svgIcon="github"
    aria-hidden="false"
    aria-label="Example github SVG icon"
  ></mat-icon>
</button>
