@font-face {
  font-family: PowerlineExtraSymbols;
  src: url(../../../../assets/PowerlineExtraSymbols.otf);
}
@font-face {
  font-family: CascadiaCode;
  src: url(../../../../assets/CascadiaCode.ttf);
}
.terminal-body {
  background-color: #151824;
  min-height: 60vh;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
  font-family: PowerlineExtraSymbols, monospace;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #2e3440 #151824;
}
.terminal-body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.terminal-body::-webkit-scrollbar-track {
  background: #151824; /* color of the tracking area */
}

.terminal-body::-webkit-scrollbar-thumb {
  background-color: #2e3440; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #151824; /* creates padding around scroll thumb */
}
input,
.previous-command {
  margin-left: 8px;
  background: transparent;
  border: 0;
  outline: none;
  color: rgb(235, 219, 178);
  font-size: 17px;
  font-family: CascadiaCode, monospace;
}

.terminal-line--output {
  white-space: pre-wrap;
  color: #d984a0;
}
