<div class="terminal-body">
  <app-terminal-line *ngFor="let cmd of history">
    <div class="previous-command">{{ cmd.key }}</div>
    <div class="terminal-line--output">
      {{ cmd.outputCommand }}
    </div>
  </app-terminal-line>
  <app-terminal-line>
    <input
      type="text"
      spellcheck="false"
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"
      #cursor
      name="userCommand"
      [(ngModel)]="userCommand"
      (keyup.arrowup)="showPreviousCommand($event)"
      (keyup.arrowdown)="showNextCommand($event)"
      (keyup.enter)="submitUserCommand(cursor.value)"
    />
  </app-terminal-line>
</div>
