.signup {
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-height: 100%;
}

.right h1 {
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 3px;
  word-spacing: 12px;
  text-shadow: -2px -2px 0px #242020, 4px 4px 0px #242020, 7px 7px 0px #7e7777;
  animation: bottomToTop 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.right .right--content {
  width: 90%;
  margin: auto;
}

.semi-input {
  width: 48.5%;
}
.full-input,
.full-input *,
.semi-input * {
  width: 98%;
}
form {
  animation-name: bottomToTop;
  animation-duration: 3s;
  background: #252c3a;
  padding: 1.5rem 0.75rem;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.form--content {
  margin-left: 10px;
}
.terms {
  margin-bottom: 10px;
  display: inline-block;
}
h4 {
  margin-top: 20px;
  margin-bottom: 0px;
}
@keyframes bottomToTop {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  90% {
    transform: translateY(-5px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
