html,
body {
  height: 100%;
  background-color: #1a202c;
  color: #edf2f7;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #edf2f7;
}
p,
span,
a,
mat-form-field input,
mat-form-field input::placeholder,
mat-form-field mat-label {
  color: #a0aec0;
}
#btn,
#btn span {
  color: #1a202c;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
